{% extends 'base.html.twig' %}

{% block title %}{{ 'app.departement.edit_title'|trans }}{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ 'app.departement.edit_title'|trans }}</h1>
    </div>

    {{ include('departement/_form.html.twig', {'button_label': 'app.crud.edit'|trans}) }}

    <div class="form-group">
        <a class="btn btn-primary" href="{{ path('app.departement_index') }}">{{ 'app.crud.back_to_list'|trans }}</a>
    </div>

    {{ include('departement/_delete_form.html.twig') }}
{% endblock %}
